/** Le contenu principal de la page d'administration */

.admin {
	background-color: #f4f6f9;
}

.admin #content {
	margin-left: 12rem;
	margin-top: 4.5rem;
}

@media (max-width: 992px) {
	.admin #content {
		margin-top: 3.1rem;
		margin-left: 0;
	}
}