div#connexion {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: rgb(240, 240, 240);
  font-size: .95rem;
}
div#connexion #container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
}
div#connexion form, div#connexion .error-box {
  width: 375px;
  transition: .5s;
}
div#connexion form {
  background-color: white;
  box-shadow: .2rem .2rem .2rem rgba(230,230,230,1);
}
@media (max-width: 600px) {
	div#connexion form, div#connexion .error-box {
    width: 100%;
  }
}
div#connexion form header {
  padding: .7rem 1.5rem;
  background-color: #2880b9;
}
div#connexion form .content {
  margin-top: 1rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
}
div#connexion input[type="text"], div#connexion input[type="password"] {
  border: 1px solid #dddddd;
  border-radius: 0.2rem;
  width: 100%;
  padding : .5rem ;
  margin-bottom: 1rem;
}