/* Bouton 'Créer' qui affiche la liste des liens pour ajouter des items */
#addButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button-icon {
    padding: .3rem .5rem;
    border-radius: .1rem;
    background-color: rgba(176,220,239,.3);
    cursor: pointer;
    transition: .1s;
}

.add-button-icon:hover {
    background-color: rgba(77, 197, 248, 0.3);
}

.add-button-content {
    display: none;
    position: absolute;
    top: 2.4rem;
    left: -9.9rem;
    width: 12rem;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(172,172,172,.3);
    box-shadow: 0 0 .5rem rgba(0,0,0,0.1);
    border-radius: .5rem;
    padding: .4rem 0rem;
}

/** Bouton administrateur */
.btn-administrateur {
    position: relative;
}

#btnAdministrateurContent {
    display: none;
}

#btnAdministrateurIcon:hover {
    cursor: pointer;
}

.btn-administrateur .content {
    position: absolute;
    top: 2.8rem;
    left: -6rem;
    width: 10rem;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 .5rem rgba(0,0,0,0.1);
    border-radius: .5rem;
    padding: .4rem 0rem;
}

/* Les liens des menus */
.add-button-content a, .btn-administrateur .content a {
    display: block;
    text-decoration: none;
    padding: .5rem 1rem;
    border-bottom: 1px solid rgb(231, 231, 231);
}

/* Le background des liens changent au survol */
.add-button-content a:hover, .btn-administrateur .content a:hover {
    background-color: rgba(176,220,239,.3);
}
