.sidebar {
	position: fixed;
	font-size: .95rem;
	top: 0;
	left: -18rem; /* Permet de cacher la sidebar */
	width: 18rem;
	height: 100%;
	background-color: rgb(41,128,185);
	padding-top: .75rem;
	z-index: 10000;
	transition: .5s;
	overflow-y: auto;
}
.sidebar a {
	display: block;
	width: 100%;
	color: white;
	text-decoration: none;
}
.sidebar a:not(.brand):hover, .sidebar a:not(.brand).active {
	background-color: rgb(19, 58, 88);
}
#check {
	display: none;
}
label #btn, label #cancel {
	position: fixed;
	cursor: pointer;
	border-radius: 3px;
	color: white;
	z-index: 10002;
	background-color: rgb(107, 169, 250);
}
label #btn {
	left: 1rem;
	top: .5rem;
	padding: 2px 6px;
	font-size: 2.5rem;
}
label #cancel {
	left: -5rem;
	padding: 2px 6px;
	font-size: 2.5rem;
}
#check:checked ~ .sidebar {
	left: 0;
	box-shadow: 0 0 1rem rgba(50, 50, 50, .7);
}
#check:checked ~ label #btn {
	opacity: 0;
	pointer-events: none;
}
#check:checked ~ label #cancel {
	left: 1rem;
	top: .5rem;
}
.sidebar-brand {
	width: 6rem !important;
}

.sidebar-user-avatar {
	width: 7rem;
	box-shadow: 0 0 1rem #2D3A4A;
}

/* Les layouts */
/* Conteneur d'une layout avec une fixed sidebar et une navbar */
#container-with-fixed-sidebar-and-navbar {
	/* On donne une marge à gauche interne d'une taille supérieure ou égale
	à celle de la sidebar*/
	padding-left: 19rem;
	/* On donne une marge de haut externe d'une taille supérieure ou égale
	à celle de la navbar*/
	margin-top: 4.95rem;
}

@media (max-width: 992px) {
	#container-with-fixed-sidebar-and-navbar  {
		margin-top: 3.1rem;
		padding-left: 1rem;
	}
}
